@media only screen and (min-width: 1200px) {
    .collapsingBtn {
        display: none;
    }

    nav ul {
        display: flex;
        flex: 1 1 auto;
    }

    nav ul li a {
        padding: 1rem;
        margin: 5px;
    }

    .navWrapper {
        margin: 5px;
    }

    .navIcons {
        flex-wrap: nowrap;
    }

    .navBar {
        order: 0;
        background-color: #C5D2D6;
        width: auto;
        border-radius: 10px;
    }

    .naviLinks {
        flex-direction: row;
        margin: 5px;
        justify-content: center;
    }

    .navi {
        border: none;
        width: 100%;
        padding: 0;
    }

    .naviReserve {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .naviService {
        border-right: 1px solid black;
    }

    .mainGrid {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .mainBanner {
        grid-column: 1/4;
        width: 90%;
        order: -7;
    }

    .templeBannerHeading {
        font-size: 2.5em;
        width: 600px;
        top: 70px;
    }

    .templeBtnWrapper {
        width: 500px;
        height: 70px;
        bottom: 40px;
    }

    .templeImg {
        grid-column: 2/3;
        order: -5;
    }

    .templeDescription {
        grid-column: 1/2;
        order: -6;
    }

    .aboutUs {
        grid-column: 3/4;
        order: -4;
    }

    .todayWeather {
        grid-column: 1/2;
        max-width: 500px;
    }

    .threeDayForecast {
        grid-column: 2/3;
    }

    .addLinksSection {
        grid-column: 3/4;
    }

    /* CSS for Temples Page */

    .templeCards {
        gap: 25px;
    }

}