@media only screen and (min-width: 730px) {
  
    .logoWrapper h2 {
        font-size: 2em;
    }

    .collapsingBtn:hover {
        box-shadow: 0 0 10px #33291F;
    }

    .socialMediaIcon:hover {
        box-shadow: 0 0 10px #33291F;
    }

    .alertCollapsingBtn:hover {
        box-shadow: 0 0 10px #33291F;
    }

    .mainGrid {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .mainBanner {
        grid-column: 1/3;
    }

    
    .templeBannerHeading {
        width: 500px;
        font-size: 2em;
    }
    
    .templeBtnWrapper {
        width: 400px;
        max-width: 500px;
    }
    
    .templeBannerBtn:hover {
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
    }
    
    .templeImg {
        grid-column: 1/3;
    }
    
    .templeDescription {
        grid-column: 1/2;
        margin: 10px;
    }
    
    .aboutUs {
        grid-column: 2/3;
        margin: 10px;
    }

    .todayWeather {
        grid-column: 1/3;
    }

    .threeDayForecast {
        grid-column: 1/3;
        flex-direction: row;
        max-width: 850px;
    }

    .dayOneForecast, .dayTwoForecast, .dayThreeForecast {
        border: 1px solid black;
        margin: 0px;
        min-width: 200px;
    }

    .addLinksSection {
        grid-column: 1/3;
    }

    .mainFooter {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .footerLogo {
        float: left;
    }

    .footerLinksContainer {
        width: 70%;
        margin-top: 60px;
    }

    footer hr {
        margin: 20px 0;
    }

    /* CSS for Temples page */
 

    .templeCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .templeName:hover {
        box-shadow: 0 0 10px #fff;
        color: #E9784B;
        text-shadow: 0 0 3px #33291F;
        cursor: pointer;
    }
    
    #templeClass0 {
        grid-column: 1/2;
    }

    #templeClass1 {
        grid-column: 2/3;
    }

    .likeForm button:hover {
        box-shadow: 0 0 10px #fff;
    }

    /* CSS for Reservation page */

    .reservationGrid {
        grid-template-columns: 1fr 1fr;
    }

    .reservationGrid h1 {
        grid-column: 1/3;
    }

    .makeReservationBtn:hover {
        box-shadow: 0 0 10px #33291F;
        cursor: pointer;
    }

    /* CSS for Services page */

    .servicesGrid {
        grid-template-columns: 1fr 1fr;
    }

    .servicesGrid h1 {
        grid-column: 1/3;
    }

    .receptionSection {
        grid-column: 1/2;
        width: 100%;
    }

    .missionSection {
        grid-column: 2/3;
        width: 100%;
    }

    .receptionSection button:hover, .missionSection button:hover {
        box-shadow: 0 0 10px #33291F;
    }

    .amenitiesSection, .specialSection {
        grid-column: 1/3;
        flex-direction: row;
        max-height: 400px;
    }

    .specialSection {
        max-height: 500px;
        display: flex;
    }

    .amenitiesSection h2 {
        border-bottom: none;
        margin: auto;
        width: 250px;
        background-color: rgb(233,120,75, .5);
        height: 100%;
        padding: 52% 0;
    }

    .amenitiesSection ul, .specialSection ul {
        padding: 0 10%;
    }

    .specialH2 {
        display: flex;
        order: 1;
        width: 250px;
        background-color: rgb(233,120,75, .5);
        margin-inline-start: auto;
    }

    .specialSection h2 {
        border-bottom: none;
        margin: auto;
        width: 250px;
        padding: 52% 0;
    }

    /* CSS for Reception page */

    .receptionGrid {
        grid-template-columns: 1fr 1fr;
    }

    .weddingReceptionSection {
        grid-column: 1/3;
    }

    /* CSS for Service Mission page */

    .suiteFigure button:hover {
        box-shadow: 0 0 10px #33291F;
        cursor: pointer;
    }

    .suiteContactWrapper {
        grid-column: 1/3;
    }

    .suiteContactSection button:hover {
        box-shadow: 0 0 10px #33291F;
        cursor: pointer;
    }

    /* CSS for References page */

    .referencesSection a:hover {
        text-decoration: underline;
    }
}