* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Gantari', sans-serif;
}

h2, h3, h4, li {
    font-family: 'Ubuntu', sans-serif;
    
}

li {
    font-size: 1.4em;
}

p {
    font-family: 'Merriweather', serif;
}

nav ul {display: none;}
nav ul.appear {display: block; order: 1;}

#collapsingBtn span:nth-child(1) {display: block;}
#collapsingBtn span:nth-child(2) {display: none;}

#collapsingBtn.open span:nth-child(1) {display: none;}
#collapsingBtn.open span:nth-child(2) {display: block;}

.logoWrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    height: 150px;
}

.logoWrapper a {
    display: flex;
}

.logoWrapper h2 {
    float: right;
    margin-top: 61px;
    color: black;
}

.navWrapper {
    display: flex;
    flex-direction: column;
    background-color: #C5D2D6;
    height: 75;
    border-radius: 10px;
    margin: 5px;
}

.navIcons {
    display: flex;
    flex-wrap: wrap;
}

.collapsingBtn {
    width: 50px;
    height: 50px;
    font-size: 2em;
    margin: 20px 20px;
    border-radius: 10px;
}

.open {
    width: 50px;
    height: 50px;
}

.socialMediaLink {
    margin: auto;
    margin-right: 10px;
}

.socialMediaIcon {
    margin: 0 10px;
    border-radius: 15px;
}

.navBar {
    order: 1;
    display: flex;
    margin: 0 auto;
    flex: 1 1 auto;
    background-color: #988B6D;
    width: 100%;
    height: auto;
}

.naviLinks {
    text-decoration: none;
    list-style: none;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 auto;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navi {
    border: 1px solid black;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    border-radius: 10px;
    color: #fff;
}

nav ul li a:hover {
    background-color: #624C40;
    color: #fff;
}

.alert {
    background-color: #E9784B;
    margin: 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.alertCollapsingBtn {
    width: 50px;
    height: 50px;
    font-size: 2em;
    margin: 20px 20px;
    border-radius: 10px;
    float: right;
}

.alert h2 {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #33291F;
}

.alert p {
    padding: 10px;
    margin: 5px;
    color: #fff;
    text-shadow: 0 0 3px #33291F;
}


.mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: space-evenly;
}

.mainSection {
    grid-column: 1/2;
    text-align: center;
    border: 2px solid #33291F;
    flex: 1 1 auto;
    margin: auto;
}

.mainBanner {
    position: relative;
    display: flex;
    padding: 0;
    min-width: 300px;
    height: auto;
}

.templeBannerHeading {
    position: absolute;
    font-size: 1.75em;
    text-align: center;
    margin: 0;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.bannerImgWrapper {
    overflow: hidden;
    width: 100%;
}

.templeBannerImg {
    width: 100%;
    height: 100%;
    object-position: top;
}

.templeBtnWrapper {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    margin: auto;
    min-width: 200px;
    max-width: 300px;
}

.templeBannerBtn {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    border-radius: 10px;
    background-color: rgb(233,120,75, .8);
    color: #fff;
    text-shadow: 0 0 3px #33291F;
}

.templeImg {
    padding: 20px;
    background-color: #624C40;
    border-radius: 10px;
}

.spotlightTempleWrapper {
    width: 100%;
    height: 100%;
    margin: auto;
}

.spotlightTempleImg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px #33291F;
}

.templeDescription, .aboutUs {
    text-align: left;
    margin: 20px;
    border-radius: 10px;
    background-color: #624C40;
    max-width: 450px;
    justify-self: center;
}

.templeDescription h2, .aboutUs h2 {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #33291F;
}

.templeDescription p, .aboutUs p {
    margin: 10px;
    line-height: 1.75em;
    background-color: rgb(152, 139, 109, .8);
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    text-shadow: 0 0 1px #33291F;
}

.aboutUs a:hover {
    text-shadow: 0 0 5px #33291F;
}

.aboutUs a {
    text-decoration: underline;
    color: #fff;
}

.todayWeather {
    border-radius: 10px;
}

.todayWeather, .dayOneForecast, .dayTwoForecast, .dayThreeForecast  {
    background-color: #988B6D;
    color: #fff;
    min-width: 250px;
}

.todayWeather h2, .dayOneForecast h2, .dayTwoForecast h2, .dayThreeForecast h2 {
    text-shadow: 0 0 3px #33291F;
}

.todayWeather p, .dayOneForecast p, .dayTwoForecast p, .dayThreeForecast p {
    text-shadow: 0 0 1px #33291F;
    line-height: 1.2em;
    margin: 10px 0;
}

.threeDayForecast {
    display: flex;
    background-color: #624C40;
    padding: 5px;
    border-radius: 10px;
    max-width: 450px;
    flex-direction: column;
}

.dayOneForecast, .dayTwoForecast, .dayThreeForecast {
    border: 1px solid black;
    margin: 5px;
}

.addLinksSection {
    background-color: #624C40;
    color: #fff;
    width: 80%;
    min-width: 300px;
    max-width: 450px;
    text-align: left;
    word-wrap: break-word;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.addLinksSection h2 {
    text-shadow: 0 0 3px #33291F;
    text-align: center;
}

.addLinksSection a {
    color: #fff;
}

.addLinksSection p {
    margin: 10px;
    padding: 5px;
    background-color: #988B6D;
    line-height: 1.75em;
    border-radius: 10px;
}

.mainFooter {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #C5D2D6;
    margin-top: 10px;
}

footer hr {
    display: block;
    width: 100%;
    border-top: 1px solid #33291F;
}

/* CSS for Temples Page */

.templesGrid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.templesGrid h1 {
    grid-column: 1/2 ;
}

.templeSection {
    background-color: #988B6D;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 450px;
    min-width: 320px;
    border-radius: 10px;
    max-height: 560px;
}

.templeSection h2, .templeSection h3 {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #33291F;
}

.templeName {
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    background-color: #624C40;
}

.templeSection section {
    justify-content: center;
    margin: auto;
    flex: 1 1 auto;
    padding: 5px;
    position: relative;
}

.templeSection picture{
    justify-content: center;
    margin: auto;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
} 

.templeSection picture img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px #33291F;
    border-radius: 5px;
    border: 5px solid #624C40;
}

.templeSection p, .templeSection li{
    padding: 0 20px;
    margin: 10px 5px;
    color: #fff;
    text-shadow: 0 0 3px #33291F;
}

.stretchOn {
    max-height: 100%;
}

.likeForm {
    position: absolute;
    bottom: 30px;
    left: 35px;
}

.likeForm button {
    width: 55px;
    height: 40px;
    background-color: rgb(233,120,75, .8);
    color: #fff;
    text-shadow: 0 0 10px #33291F;
    border: 2px solid black;
    border-radius: 10px;
}

.favoritedStar {
    position: absolute;
    top: 20px;
    right: 20px;
}

.servicesCollection {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.servicesCollection div {
    margin: auto;
}

.ordinanceSchedule {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.ordinanceSchedule div {
    margin: auto;
}

.sessionSchedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sessionSchedule h3 {
    width: 100%;
}

.sessionSchedule div {
    margin: auto;
}
.sessionSchedule div:nth-child(2) {
    margin: 0 auto;
}

.sessionCollection {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.templeOrdinanceLabel{
    font-size: 1.1em;
}

.templeSection li {
    font-size: 1em;
}

.infoPacket {
    display: none;
}

.infoPacketVisible {
    display: block;
}

/* CSS for Reservation page */

.reservationGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.reservationGrid h1 {
    text-align: center;
}

form fieldset{
    border: 2px solid #E9784B;
    border-radius: 5px;
    background-color: #C5D2D6;
}

fieldset:first-child {
    margin-bottom: 10px;
}

fieldset:nth-child(2) {
    margin-top: 10px;
}

label {
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
}

label, legend{
    font-family: 'Ubuntu', sans-serif;
}

option, input, select{
    font-family: 'Merriweather', serif;
}

select {
    border-radius: 5px;
    padding: .75rem;
}

legend {
    font-weight: bold;
    color: #484041;
}

form label,
form input {
    display: block;
    width: 100%;
}

form {
    max-width: 320px;
    margin: 10px auto;
}

form input {
    margin-top: 2px;
    margin-bottom: 1em;
    padding: .75rem;
    border-radius: 10px;
}

label input {
    display: inline;
    width: auto;
    margin: 0;
}

form label.required::after {
    content: " *";
    color: red;
}

form input:required {
    border-left: 4px solid red;
}

form input:required:valid {
    border-left: 4px solid green;
}

.roomNumber {
    font-size: 20px;
    width: auto;
    padding: .6rem;
}

.makeReservationBtn {
    margin-top: 10px;
}

.roomSection {
    background-color: #988B6D;
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid #33291F;
    margin: auto;
}

.roomSection h2 {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #33291F;
}

.roomSection h3 {
    color: #fff;
    text-shadow: 0 0 5px #33291F;
    padding: 0 5px;
    font-size: 1.25em;
}

.roomSection p {
    color: #fff;
    text-shadow: 0 0 5px #33291F;
    padding: 0 5px;
}

.reservationMadeGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.reservationMadeGrid h1 {
    text-align: center;
}

.thankYouSection {
    background-color: #C5D2D6;
    border: 2px solid #33291F;
    border-radius: 5px;
    margin: auto;
    min-width: 350px;
    max-width: 600px;
}

.thankYouSection h2 {
    text-align: center;
}

.thankYouSection p {
    padding: 10px;
}

/* CSS for Services page */

.servicesGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.servicesGrid h1 {
    text-align: center;
    grid-column: 1/2;
}

.receptionSection, .missionSection {
    display: flex;
    grid-column: 1/2;
    background-color: #C5D2D6;
    position: relative;
    min-width: 300px;
    width: 60%;
    max-width: 550px;
    margin: auto;
    border-radius: 20px;
    border: 4px solid rgb(152, 139, 109, .8);
    flex: 1 1 auto;
    padding: 0;
    height: auto;
}

.receptionSection h2, .missionSection h2 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(152,139,109,.7);
    width: 100%;
    max-width: 550px;
    text-align: center;
    height: 60px;
    padding: 13px;
    border-radius: 10px;
    color: #fff;
    text-shadow: 5px 5px 5px #33291F;
}

.receptionSection button, .missionSection button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    background-color: rgb(197,210,214,.8);
    border: 2px solid #33291F;
}

.receptionSection picture, .missionSection picture {
    width: auto;
    height: auto;
    overflow: hidden;
}

.receptionSection img, .missionSection img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.amenitiesSection, .specialSection {
    display: flex;
    flex-direction: column;
    background-color: #C5D2D6;
    margin: 10px;
    border: 2px solid rgb(233,120,75, .8);
    border-radius: 10px;
}

.amenitiesSection h2, .specialSection h2 {
    text-align: center;
    border-bottom: 3px solid #33291F;
    padding-bottom: 15px;
    margin-bottom: 5px;
    /* color:#624C40 */
}

.amenitiesSection p, .specialSection p {
    padding: 10px;
    margin: 5px;
}

.amenitiesSection li, .specialSection li {
    font-size: 1.2em;
    list-style-type: circle;
}

/* CSS for Reception page */

.receptionGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.weddingReceptionSection {
    background-color: rgb(233,120,75, .6);
    padding: 15px 0;
}

.weddingReceptionInnerSection {
    width: 70%;
    background-color: rgb(197,210,214);
    margin: auto;
    border: 2px solid #33291F
}

.weddingReceptionInnerSection h1 {
    text-align: center;
    padding-top: 20px;
}

.weddingReceptionInnerSection p {
    padding: 10px 20px 30px 20px;
}

.cateringWrapper, .setupWrapper{
    width: 85%;
    padding: 20px;
    max-width: 500px;
    min-width: 250px;
    justify-self: center;
    background-color: #624C40;
    border-radius: 20px;
    border: 2px solid #484041;
    margin: 5px;
}

.receptionFoodSection, .receptionSetupSection {
    background-color: #988B6D;
    border-radius: 10px;
    border: 2px solid #33291F;
    display: flex;
    flex-direction: column;
}

.receptionFoodSection h2, .receptionSetupSection h2 {
    text-align: center;
    width: auto;
    height: auto;
    max-width: 100%;
    color: #fff;
    text-shadow: 0 0 4px #33291F;
}

.receptionFoodSection img, .receptionSetupSection img {
    margin: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #33291F;
    border: 2px solid #33291F;
}

.receptionFoodSection p, .receptionSetupSection p {
    padding: 10px;
    color: #fff;
    text-shadow: 0 0 4px #33291F;
}

/* CSS for Service Mission page */

.suiteWrapper {
    width: 85%;
    padding: 20px;
    max-width: 500px;
    min-width: 250px;
    justify-self: center;
    background-color: #624C40;
    border-radius: 20px;
    border: 2px solid #484041;
    margin: 5px;
}

.juniorSuiteSection, .standardSuiteSection, .suiteContactSection {
    background-color: #988B6D;
    border-radius: 10px;
    border: 2px solid #33291F;
    display: flex;
    flex-direction: column;
}

.juniorSuiteSection p, .standardSuiteSection p, .suiteContactSection p {
    padding: 10px;
    color: #fff;
    text-shadow: 0 0 4px #33291F;
    margin: 0;
}

.suiteFigure {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
}

.suiteFigure h2 {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 5px #33291F;
    width: 150px;
}

.suiteFigure img {
    margin: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #33291F;
    border: 2px solid #33291F;
    margin: 0;
}

.suiteFigure button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    margin: auto;
    min-width: 50px;
    max-width: 300px;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(197,210,214,.8);
    text-shadow: 0 0 4px #fff;
    padding: 5px;
}

.standardFigure h2 {
    width: 175px;
}

.suiteContactSection {
    
}

.suiteContactSection h2 {
    color: #fff;
    text-shadow: 0 0 5px #33291F;
    text-align: center;
}

.suiteContactSection button {
    height: 50px;
    margin: auto;
    min-width: 150px;
    max-width: 300px;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(197,210,214,.8);
    text-shadow: 0 0 4px #fff;
    padding: 5px;
}